body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    background-color:black;
}

.top {
    background-color: black;
    overflow: hidden;
    position: fixed;
    top:0px;
    width: 100%;
    margin-top: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
  }

  .bottom {
    background-color: black;
    overflow: hidden;
    position: fixed;
    bottom:0px;
    width: 100%;
    margin-top: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    font-size: 25px;
  }

  .text {
    margin-top: 90px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    text-align: justify;
    color: white;
    font-size: 25px;
    display: block;
    padding: 0px;
    overflow-wrap: break-word;
  }

  .text-under-header {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    text-align: justify;
    color: white;
    font-size: 25px;
    display: block;
    padding: 0px;
    overflow-wrap: break-word;
  }

  .header-text {
    margin-top: 90px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: white;
    font-size: 25px;
    display: block;
    padding: 0px;
    overflow-wrap: break-word;
  }

  .lonelytext{
    margin-top: 10%;
  }

  .imagewidth{
    width: 250px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
  }

  .centeredimages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    min-width: 300px;
  }

  .centergif {
    overflow: hidden;
    position: fixed;
    top:25%;
    display: block;
    width: 100%;
  }

  a {
    color: white;
    text-decoration: none;
    white-space: pre;
}

.menutitles {
    text-align: center;
    color: white;
    overflow: hidden;
    position: absolute;
    bottom:45px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .center {
    max-width: 200px;
  }

  .text {
    margin-top: 80px;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 20px;
  }

  .text-under-header{
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 20px;
  }
}