.border {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgb(0, 0, 0);*/
    position: fixed;
    background-image: url('https://drive.google.com/uc?export=view&id=1-SEDSLK6yHy45KIwvONl1No-7hba4C_v');
    background-size: cover;
}

.photospage {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    position: absolute;
}

.detailspage {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgb(0, 0, 0);*/
    background-image: url('https://drive.google.com/uc?export=view&id=1-SEDSLK6yHy45KIwvONl1No-7hba4C_v');
    background-size: cover;
    position: absolute;
}

h1,h2 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
    background-color: black;
}

a:active {
    color: white;
    background-color: white;
  }

.bottomright {
    position: fixed;
    text-align: right;
    right: 0px; bottom: 0px;
    margin-right: 20px;

}

.faq {
    position: fixed;
    text-align: right;
    right: 0px; bottom: 0px;
    margin-right: 20px;
    background-color: white;
}

.topleft {
    position: fixed;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.fit {
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 100%;
  }