.border {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    position: fixed;
    /*background-image: url('https://media4.giphy.com/media/VbgsU7qfBM2pKUpEfS/giphy.gif?cid=ecf05e474hui3za8pcas0mw4qf5ijyoomxzf2b91u0ru72f9&rid=giphy.gif&ct=g');
    background-size: cover;*/
}

.photospage {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    position: absolute;
}

.detailspage {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    /*background-image: url('https://media4.giphy.com/media/VbgsU7qfBM2pKUpEfS/giphy.gif?cid=ecf05e474hui3za8pcas0mw4qf5ijyoomxzf2b91u0ru72f9&rid=giphy.gif&ct=g');
    background-size: cover;
    position: absolute;*/
}

h1,h2 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: white;
  }

.bottomright {
    position: fixed;
    text-align: right;
    right: 0px; bottom: 0px;
    margin-right: 20px;

}

.faq {
    position: fixed;
    text-align: right;
    right: 0px; bottom: 0px;
    margin-right: 20px;
    background-color: white;
}

.topleft {
    position: fixed;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.fit {
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 100%;
  }