.border {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgb(0, 0, 0);*/
    position: fixed;
    background-image: url('https://drive.google.com/uc?export=view&id=1D5XS5158DhSaqkUEbFWbGynmt0xva5NO');
    background-size: cover;
}

.border {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgb(0, 0, 0);*/
    position: fixed;
    background-color: white;
    background-size: cover;
}

.photospage {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    position: absolute;
}

.detailspage {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgb(0, 0, 0);*/
    background-image: url('https://drive.google.com/uc?export=view&id=1D5XS5158DhSaqkUEbFWbGynmt0xva5NO');
    background-size: cover;
    position: absolute;
}

h1,h2 {
    color: white;
}

a {
    color: black;
    text-decoration: none;
    white-space: pre;
}

a:active {
    color: white;
    background-color: white;
  }

.bottomright {
    position: fixed;
    text-align: right;
    right: 0px; bottom: 0px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.faq {
    position: fixed;
    text-align: right;
    right: 0px; bottom: 0px;
    margin-right: 20px;
    background-color: white;
}

.topleft {
    position: fixed;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.fit {
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 100%;
  }

.freeCampaign{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    background-size: cover;
    background-image: url('https://media2.giphy.com/media/jN0uFcNogUxHf3IwlC/giphy.gif?cid=790b7611d3fad51ddbebbd306cb1e80a039155f3f12c294e&rid=giphy.gif&ct=g');
}

.freeConfirmation{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    background-size: cover;
    background-image: url(https://media2.giphy.com/media/iZvUQ7nfp3QZPCvw77/giphy.gif?cid=790b7611b210f80e3e57837cb3643b70cb03b461dc54cf80&rid=giphy.gif&ct=g);
}

.termsandconditions{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    background-size: cover;
    background-color: black;
}

.confirmationbottomright {
    position: fixed;
    text-align: right;
    right: 0px; bottom: 0px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.bottomleft {
    position: fixed;
    text-align: right;
    right: 0px; bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;

}